<nav class="navbar navbar-inverse bg-dark ">
  <a class="navbar-brand" href="/main"><<i class="fab fa-cuttlefish"></i>rash<<i class="fab fa-cuttlefish"></i>ourse </a>
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book fa-fw"></i></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Science</a>
      <a class="dropdown-item" href="#">Math</a>
      <a class="dropdown-item" href="#">Technology</a>
      <a class="dropdown-item" href="#">History</a>
      </div>
    </div>
  <div class="navRight ">
      <a href="#about"> <%= user.first_name %> <i class="far fa-user-circle"></i></a>
      <a href="/logout"> Logout <i class="fas fa-sign-out-alt"></i></a>
  </div>
</nav>



