    <!-- Navbar -->
    <nav class="navbar navbar-inverse bg-dark ">
      <a class="navbar-brand" href="#"><<i class="fab fa-cuttlefish"></i>rash<<i class="fab fa-cuttlefish"></i>ourse </a>
      <div class="navRight">
          <a href="/login" class="login">Login<i class="fa fa-user"></i></a></li>
         <a href="/register" class="register"> Register <i class="fa fa-user-plus"></i></a></li>
      </div>
    </nav>