<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/Head %>
    <!-- Input local css file -->
    <link rel="stylesheet" type="text/css" href="../styles/main.css"> 



 </head>

  <body>
      <!-- Navbar -->
    
    <nav class="navbar navbar-inverse bg-dark ">
      <a class="navbar-brand" href="#"><<i class="fab fa-cuttlefish"></i>rash<<i class="fab fa-cuttlefish"></i>ourse </a>


        <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book fa-fw"></i></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Science</a>
          <a class="dropdown-item" href="#">Math</a>
          <a class="dropdown-item" href="#">Technology</a>
          <a class="dropdown-item" href="#">History</a>
          </div>
        </div>
            

<form>
<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Create Resource</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="title" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form34">Title</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="form29" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form29">URL</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Biology</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Computer Science</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                  <label class="form-check-label" for="inlineRadio3">Math</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                  <label class="form-check-label" for="inlineRadio3">Physics</label>
                </div>

                 <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                  <label class="form-check-label" for="inlineRadio3">Languages</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-edit"></i>
                    <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
                    <label data-error="wrong" data-success="right" for="form8">Description</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-unique">Send <i class="fas fa-check"></i></button>
            </div>
        </div>
    </div>
</div>
</form>

<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm"><i class="fas fa-plus-circle"></i></a> </a>
</div>
      
      <div class="navRight ">     
          <a href="#about"> User <i class="far fa-user-circle"></i></a>
          <a href="#about"> Logout <i class="fas fa-sign-out-alt"></i></a>        
      </div>

    </nav>

    <!-- Main Content -->
      <div class="page-header">
       <h1>Category Name</h1>
    </div>
    <div class = 'container'>



      
        <div class = "col-lg-4 col-sm-6 ">
          <div class = "thumbnail">
            <img src="https://images.unsplash.com/photo-1475529502150-61a9d3bb0061?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f9a7e26756685063a70f1e6e7498fc8&auto=format&fit=crop&w=967&q=80">
          </div>
        </div>
    
        <div class = "col-lg-4 col-sm-6">
          <div class = "thumbnail">
            <img src="https://images.unsplash.com/photo-1416339684178-3a239570f315?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=65a04c7e91b920857c81143b62307342&auto=format&fit=crop&w=967&q=80">
          </div>
        </div>
    
        <div class = "col-lg-4 col-sm-6">
          <div class = "thumbnail">
            <img src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-0.3.5&s=d8791fe0f9f4e735158400f9daf6a558&auto=format&fit=crop&w=1002&q=80">
          </div>
        </div> 
     
      
        <div class = "col-lg-4 col-sm-6">
          <div class = "thumbnail">
            <img src= "https://images.unsplash.com/photo-1484589065579-248aad0d8b13?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=22c436243e8032be8afe47fab97930e4&auto=format&fit=crop&w=696&q=80">
          </div>
        </div>
    
        <div class = "col-lg-4 col-sm-6">
            <div class = "thumbnail">
              <img src = "https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6726719ee78dabe78033950d9f3f7145&auto=format&fit=crop&w=1050&q=80">    
            </div>
        </div>
    
        <div class = "col-lg-4 col-sm-6 ">
            <div class = "thumbnail">
              <img src = "https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a17706f58bd8f2893b75c64da56a5d21&auto=format&fit=crop&w=800&q=80">
            </div>
        </div>
     

      
        <div class = "col-lg-4 col-sm-6">
          <div class = "thumbnail">
            <img src = "https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44fd85adc94d85353e27f5471352c087&auto=format&fit=crop&w=967&q=80">
          </div>
        </div>
    
        <div class = "col-lg-4 col-sm-6">
            <div class = "thumbnail">
              <img src= "https://images.unsplash.com/photo-1484544808355-8ec84e534d75?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc1407c2a550b0ebf3def8b81fa7b4a2&auto=format&fit=crop&w=1066&q=80">
            </div>
        </div>
    
        <div class = "col-lg-4 col-sm-6">
          <div class = "thumbnail">
            <img src=  "https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-0.3.5&s=bbd3f4a55de814f1b93b80669674cc17&auto=format&fit=crop&w=1950&q=80">
          </div>
        </div>
       </div>
    
   
 




  </body>
</html>