<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/Head %>
    <link rel="stylesheet" type="text/css" href="../styles/login.css">

  </head>

  <body>
      <!-- Navbar -->
    <nav class="navbar navbar-inverse bg-dark ">
      <a class="navbar-brand" href="/main"><<i class="fab fa-cuttlefish"></i>rash<<i class="fab fa-cuttlefish"></i>ourse </a>
      <div class="navRight">
        <ul class="navbar-nav mr-auto">
          <li><a href="/register"> Register <i class="fa fa-user-plus"></i></a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div>
        <div class="col-lg-18">
          <div class="content">
            <form method="POST" action="/login" class="formSignin">

                <div class="form-group col-md-5">
                  <label for="inputEmail4">Email</label>
                  <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group col-md-5">
                  <label for="inputPassword4">Password</label>
                  <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary" value="login"> <i class="fa fa-user" aria-hidden="true"></i> Sign in</button>
            </form>
            <% if (typeof error !== "undefined") { %>
              <p><%= error %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
