
<!doctype html>
<html lang="en">
  <head>
    <title>Crash Course</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Normalize the page -->
    <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- App CSS -->
    <!-- Input local css file -->
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

    <!-- Optional JavaScript & Local Jquery -->
     <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script type="text/javascript" src="/scripts/app.js"></script>


 </head>

  <body>
      <!-- Navbar -->

    <nav class="navbar navbar-inverse bg-dark ">
      <a class="navbar-brand" href="#"><<i class="fab fa-cuttlefish"></i>rash<<i class="fab fa-cuttlefish"></i>ourse </a>


        <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book fa-fw"></i></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Science</a>
          <a class="dropdown-item" href="#">Math</a>
          <a class="dropdown-item" href="#">Technology</a>
          <a class="dropdown-item" href="#">History</a>
          </div>
        </div>


<form method="POST" action="/articles">
<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Create Article</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="title" class="form-control validate" name="title">
                    <label data-error="wrong" data-success="right" for="form34">Title</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="form29" class="form-control validate" name="url">
                    <label data-error="wrong" data-success="right" for="form29">URL</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                  <label class="form-check-label" for="inlineRadio1">Biology</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                  <label class="form-check-label" for="inlineRadio2">Computer Science</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                  <label class="form-check-label" for="inlineRadio3">Math</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4">
                  <label class="form-check-label" for="inlineRadio3">Physics</label>
                </div>

                 <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5">
                  <label class="form-check-label" for="inlineRadio3">Languages</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-edit"></i>
                    <textarea type="text" id="form8" class="md-textarea form-control" rows="4" name="text"></textarea>
                    <label data-error="wrong" data-success="right" for="form8">Description</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-unique">Send <i class="fas fa-check"></i></button>
            </div>
        </div>
    </div>
</div>
</form>

<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm"><i class="fas fa-plus-circle"></i></a>
</div>

      <div class="navRight ">
          <a href="#about"> User <%= user.first_name %> <i class="far fa-user-circle"></i></a>
          <a href="#about"> Logout <i class="fas fa-sign-out-alt"></i></a>
      </div>




    </nav>


    <!-- Main Content -->
    <div class = 'container'>

    </div>





  </body>
</html>

