
<!doctype html>
<html lang="en">
  <head>
   <% include ./partials/Head %>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
 </head>
  <body>
   <% include ./partials/navbar %>


    <!-- Main Content -->
    <div class = 'container'>
      <% for (article of articles) {%>
        <div class = 'col-lg-4 col-sm-6'>
           <div class = "thumbnail"> 
            <a href="/articles/<%= article.article_id%>" ><img src="<%= article.image%>"></a>
            <span class="title"><%= article.title %></span>
           </div> 
        </div>
      <% }%>
    </div>





  </body>
</html>

