
<!doctype html>
<html lang="en">
  <head>
   <% include ./partials/Head %>
 </head>
  <body>
   <% include ./partials/navbar %>


    <!-- Main Content -->
    <div class = 'container'>

    </div>





  </body>
</html>

