<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/Head %>
    <!-- Input local css file -->
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <script type="text/javascript" src="../scripts/edit.js"></script>




 </head>

  <body>
      <!-- Navbar -->

    <% include ./partials/navbar %>


    <!-- Main Content -->
      <div class="page-header">
       <h1> My Articles</h1>
    </div>


    <div class = 'container'>
      <% for (article of articles) {%>
        <div class = 'col-lg-4 col-sm-6'>
          <div class ="thumbnail">
            <a href="/articles/<%= article.article_id%>" ><img src="<%= article.image%>" ></a>
            <div class="buttons">
              <form method="GET" action="/articles/<%= article.article_id%>/update">
                <button class="update" data-article-id="<%= article.article_id%>">Update</button>
              </form>
            </div>
          </div>
        </div>
      <% }%>

    </div>







  </body>
</html>
