<!doctype html>
<html lang="en">
  <head>
    <title>Crash Course</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Normalize the page -->
    <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- App CSS -->
    <!-- Input local css file -->
    <link rel="stylesheet" type="text/css" href="../styles/register.css"> 

    <!-- Optional JavaScript & Local Jquery -->
     <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="../public/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-inverse bg-dark ">
      <a class="navbar-brand" href="#"><<i class="fab fa-cuttlefish"></i>rash<<i class="fab fa-cuttlefish"></i>ourse </a>
      <div class="navRight">
        <ul class="navbar-nav mr-auto">
          <li><a href="#about"> Login <i class="fa fa-user"></i></a></li>
        </ul>
      </div>
    </nav>

<!-- Register  -->
<div class="container">
  <div>
    <div class="col-lg-18">
      <div class="content">
        <form class="formRegister">
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group col-md-5">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="inputEmail4">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
            <div class="form-group col-md-5">
              <label for="inputPassword4">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" value="register"> <i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>







  </body>
</html>