body {
    background-color: #f8f9fa;
    margin-bottom: 80px;
}

.container{
	padding-top: 70px;
	 display: flex;
    flex-wrap: wrap;
    align-content: center;
      justify-content:space-around;
}
img{
	width: 100%;
    border:transparent;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
    margin-top: 1.00%;
     border-radius: 4%;
     opacity: 50%
}

.container

img:hover {
	opacity: 100%
}

div.dropdown{
		margin-left: auto;
}


.navRight a{
	padding-left: 10px;
}

button.btn.btn-primary {
	margin-right: 10px;
}


body {
  background-color: #f8f9fa;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

h1{
  text-align: center;
  margin-top: 30px;
}

div.jumbotron.jumbotron-fluid{
  padding:0;
}


.container {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

img {
  width: 100%;
  border: transparent;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  margin-top: 1.00%;
  border-radius: 4%;
  opacity: 1.3;
}


div.thmbnail{
  position: relative;
}

span.title{
  position: absolute;
  display: hidden;
}
span.title:hover{

  z-index: 10;
  display: inline;
}

.container
img:hover {
  opacity: 0.7;
  z-index: 60;
}

div.dropdown {
  margin-left: auto;
}

.navRight a {
  padding-left: 10px;
}

button.btn.btn-primary {
  margin-right: 10px;
}

div.thumbnail:hover button.update {
  display: block;
}
div.thumbnail button.update {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #007bff;
}

div.thumbnail:hover span.title {
  display: block;
  margin-bottom: 50px;
}
div.thumbnail span.title {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightgrey;

}
