

.container{
	padding-top: 70px;
	 display: flex;
    flex-wrap: wrap;
    align-content: center;
      justify-content:space-around;
}
img{
	width: 100%;
    border:transparent;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
    margin-top: 1.00%;
     border-radius: 4%;
     opacity: 50%
}

img:hover {
	opacity: 100%
}

div.dropdown{
		margin-left: auto;
}


.navRight a{
	padding-left: 10px;
}

button.btn.btn-primary {
	margin-right: 10px;
}

